# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: publish_mod

on:
  repository_dispatch:
    types: [ publish_mod ]
  workflow_dispatch:
    inputs:
      name:
        description: 'Description'
        required: false

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [ 3.10.8 ]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Update pip
        run: python -m pip install --upgrade pip

      - name: Install boto3
        run: pip install boto3

      - name: Get steamcmd
        run: |
          curl https://steamcdn-a.akamaihd.net/client/installer/steamcmd.zip --output steamcmd.zip
          Expand-Archive -Path steamcmd.zip

      - name: Update steamcmd
        run: |
          cd steamcmd
          steamcmd.exe +login anonymous +quit
        shell: cmd
        continue-on-error: true

      - name: Set credentials
        run: |
          python download_credentials.py
        env:
          AWS_S3_ACCESS_KEY: ${{ secrets.AWS_S3_ACCESS_KEY }}
          AWS_S3_SECRET_ACCESS_KEY: ${{ secrets.AWS_S3_SECRET_ACCESS_KEY }}

      - name: Pack mod
        run: python make_mod.py
        env:
          PARATRANZ_SECRET: ${{ secrets.PARATRANZ_SECRET }}
          RUN_NUMBER: ${{ github.run_number }}

      - name: push translation
        run: |
          ls
          git config --global user.email "matanki.saito@gmail.com"
          git config --global user.name "matanki.saito"
          git config --global url."https://${{ secrets.GITHUB_TOKEN }}:x-oauth-basic@github.com/".insteadOf "https://github.com/"
          git add source
          git commit -m "Save/Update files [ci skip]"
          git push origin HEAD:main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token

      - name: Upload workshop
        run: |
          cd steamcmd
          steamcmd.exe -dev -textmode -ignoredxsupportcfg +login %STEAM_LOGIN_NAME% +workshop_build_item ..\resource\main.vdf +quit
        env:
          STEAM_LOGIN_NAME: ${{ secrets.STEAM_LOGIN_NAME }}
        shell: cmd
